@using Blog.DAL
@model List<Makaleler>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Metas -->
    <title>MVC Blog - Makale İçerik</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="~/Theme/css/bootstrap.css" rel="stylesheet">
    <!-- FontAwesome Icons core CSS -->
    <link href="~/Theme/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Theme/style.css" rel="stylesheet">
    <!-- Responsive styles for this template -->
    <link href="~/Theme/css/responsive.css" rel="stylesheet">
    <!-- Colors for this template -->
    <link href="css/colors.css" rel="stylesheet">
    <!-- Version Garden CSS for this template -->
    <link href="~/Theme/css/version/garden.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
    @Html.Action("Navbar","Home")
       
        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            @foreach (var makale in Model)
                            {
                                <div class="blog-title-area">
                                    <span class="color-green"><a href="garden-category.html" title="">@makale.Kategoriler.KategoriAdi</a></span>
                                    <h3>@makale.MakaleBaslikAdi</h3>
                                    <div class="blog-meta big-meta">
                                        <small><a href="garden-single.html" title="">@makale.MakaleEklenmeTarihi</a></small>
                                        <small><a href="blog-author.html" title="">@makale.Yazarlar.YazarAdi</a></small>
                                        @*<small><a href="#" title=""><i class="fa fa-eye"></i> 2344</a></small>*@
                                    </div><!-- end meta -->
                                </div><!-- end title makale.Resimlers.Where(x => x.MakaleID == makale.MakaleID).Select(x => x.ResimURL).FirstOrDefault() -->
                                <div class="single-post-media">
                                    <img src="@makale.MakaleGorsel" alt="" class="img-fluid">
                                </div><!-- end media -->
                                <div class="blog-content">
                                    <div class="pp">
                                        <p>@makale.MakaleIcerik</p>
                                    </div><!-- end pp -->

                                </div><!-- end content -->

                                <section class="section wb" />
                                <div class="custombox authorbox clearfix">
                                    <h4 class="small-title">Yazar Hakkında</h4>
                                    <div class="row">
                                        <!-- end col -->
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                            <h4><a href="#">@makale.Yazarlar.YazarAdi @makale.Yazarlar.YazarSoyAdi</a></h4>
                                            <p>@makale.Yazarlar.YazarMailAdresi</p>
                                            <div class="topsocial">
                                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Website"><i class="fa fa-link"></i></a>
                                            </div><!-- end social -->
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                </div><!-- end author-box -->
                                <hr class="invis1">
                                @Html.Action("RandomMakale", "Makale")
                                <hr class="invis1">
                                <div class="custombox clearfix">
                                    <h4 class="small-title">Yorumlar</h4>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="comments-list">
                                                @Html.Action("YorumListele", "Yorum")
                                            </div>
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                </div><!-- end custom-box -->
                                <hr class="invis1">
                                <div class="custombox clearfix">
                                    <h4 class="small-title">Yorum Bırak</h4>
                                    <div class="row">
                                        <div class="col-lg-12">

                                            @using (Html.BeginForm("YorumYaz", "Makale", FormMethod.Post, new { @class = "form-wrapper" }))
                                            {
                                                if (User.Identity.IsAuthenticated == true)
                                                {

                                                    <input type="text" name="YorumYazanAdiSoyadi" class="form-control" value="@ViewBag.uyeadi @ViewBag.uyesoyadi">
                                                }
                                                else
                                                {
                                                    <input type="text" name="YorumYazanAdiSoyadi" class="form-control" placeholder="Adınız Soyadınız">
                                                }

                                                <textarea class="form-control" name="YorumAciklama" placeholder="Yorumunuz"></textarea>
                                                <button type="submit" class="btn btn-primary">Yorumu Gönder</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <h2 class="widget-title">Önceki Makaleler</h2>
                                <div class="blog-list-widget">
                                    @Html.Action("SonMakaleler", "Makale")


                                </div><!-- end blog-list -->
                            </div><!-- end widget -->
                            @Html.Action("PopulerKategorileriListele", "Kategori")
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
    </div><!-- end wrapper -->
    <!-- Core JavaScript
    ================================================== -->
    <script src="~/Theme/js/jquery.min.js"></script>
    <script src="~/Theme/js/tether.min.js"></script>
    <script src="~/Theme/js/bootstrap.min.js"></script>
    <script src="~/Theme/js/custom.js"></script>
</body>
</html>
