@using Blog.DAL
@model List<Uyeler>
@{
    ViewBag.Title = "TumUyeleriListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>TumUyeleriListele</h2>

<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Aktif Başlıklar</h3>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 10%">
                            Üye ID
                        </th>
                        <th style="width: 15%">
                            Üye Ad Soyad (Nick Name)
                        </th>
                        <th style="width: 30%">
                            Üye Mail Adresi
                        </th>
                        <th style="width: 30%">
                            Üye Rolü
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var alluyeler in Model)
                    {

                        <tr>
                            <td>
                                <a>
                                    @alluyeler.UyeID
                                </a>

                            </td>
                            <td>
                                <a>
                                    @alluyeler.UyeAdi @alluyeler.UyeSoyAdi (@alluyeler.UyeNickName)
                                </a>
                            </td>
                            <td>
                                <a>
                                    @alluyeler.UyeMailAdresi
                                </a>
                            </td>
                            <td>
                                <a>
                                    @alluyeler.Role
                                </a>
                            </td>                          

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.card -->
</section>